@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../node_modules/react-vis/dist/style.css';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
  font-family: 'Roboto', sans-serif;
}
